<div class="container">
  <button class="btn btn-primary" (click)="reservaHoteisFunc()">Projeto reserva de hoteis</button>
  <button class="btn btn-primary conta-bancaria" (click)="contaBancariaFunc()">Projeto  Conta bancaria</button>
  <button class="btn btn-primary loja-virtual" (click)="lojaVirtualFunc()">Projeto  Loja virtual</button>
</div>

<app-reserva-hoteis *ngIf="reservaHoteis"></app-reserva-hoteis>
<app-conta-bancaria *ngIf="contaBancaria"></app-conta-bancaria>
<app-loja-virtual *ngIf="lojaVirtual"></app-loja-virtual>
