<h2>template driven forms</h2>

<form>
  <label>
    Nome:
    <input
      type="text"
      name="inputName"
      #name="ngModel"
      [ngModel]="name.value"
      required=""
    />
  </label>

  <hr />
  <p>value: {{ name.value }}</p>
  <p>valid: {{ name.valid }}</p>
  <p>dirty: {{ name.dirty }}</p>
  <p>touched: {{ name.touched }}</p>

  <hr />

  <label>
    feminino:
    <input
      type="radio"
      value="feminino"
      name="radioSexo"
      #sexo="ngModel"
      [ngModel]="sexo.value"
      required=""
    />
  </label>

  <label>
    masculino:
    <input
      type="radio"
      value="masculino"
      name="radioSexo"
      #sexo="ngModel"
      [ngModel]="sexo.value"
      required=""
    />
  </label>


  <label>
    outros:
    <input
      type="radio"
      value="outros"
      name="radioSexo"
      #sexo="ngModel"
      [ngModel]="sexo.value"
      required=""
    />
  </label>

  <hr />
  <p>value: {{ sexo.value }}</p>
  <p>valid: {{ sexo.valid }}</p>
  <p>dirty: {{ sexo.dirty }}</p>
  <p>touched: {{ sexo.touched }}</p>

  <hr />

  <label>
    agnular:
    <input
      type="checkbox"
      value="anular"
      name="checkboxAngular"
      #techAngular="ngModel"
      [ngModel]="techAngular.value"
      required=""
    />
  </label>

  <hr />
  <p>value: {{ techAngular.value }}</p>
  <p>valid: {{ techAngular.valid }}</p>
  <p>dirty: {{ techAngular.dirty }}</p>
  <p>touched: {{ techAngular.touched }}</p>

  <hr />

  <select name="selectComidas" #comidas="ngModel" ngModel>
    <option value="">selecione um alimento</option>
    @for (item of listComidas(); track item) {
      <option [ngValue]="item">{{item.comida}}</option>
    }
  </select>

  <hr />
  <p>value: {{ comidas.value | json }}</p>
  <p>valid: {{ comidas.valid }}</p>
  <p>dirty: {{ comidas.dirty }}</p>
  <p>touched: {{ comidas.touched }}</p>
  <hr />
</form>