<!--
  em angular, um pipe é uma funcção que pode ser usada para transformar dados antes de serem
  exibidos no template

  os pipes são usados para formatar dados, traduzir dados ou realizar qualquer outra operacção
  que você queira fazer com os dados antes de exibi-los

  os pipes são definidos usando o decorador @pipe()

  tipos de pipes
  existem dos tipos principais de pipes

  - pipes de transformação: os pipes de transformação são usados para transformar dados, eles 
  são do tipo mais comuns de pipes.
  - pipes de filtro: os pipes de filtro são usados para filtrar dados. eles são usados para exibir 
  apenas um subconjuto de dados

  exemplos de pipes

  aqui estão alguns exemplo de como usar pipes 

  - formatar dados: você pode usar pipes para formatar dados de varias maneiras. por exemplo, você 
  pode pipe currency para formatar um numero como moeda, ou o pipe date para formatar uma data como
  string 

  - traduzir dados: você pode usar pipes para traduzir dados para outros idiomas. por exemplo, você
  pode usar o pipe translate para traduzir uma string para outro idioma

  - realizar operações matematicas: você pode usar pipes para realizar operaçãoes matematicas. por 
  exemplo, você pode usar pipe number para converter um numero para um string, ou o pipe add para 
  adicionar dois numeros

-->

<p>pipes</p>

<ul>
  <li>{{ date() | date: 'short' }}</li>
  <li>{{ 'george' | uppercase }}</li>
  <li>{{ 'george' | lowercase }}</li>
  <li>json {{ json() | json }}</li>
  <li>async {{ loadingData$ | async }}</li>
  <li>currency {{ 200.5 | currency: "BRL" }}</li>
  <li>number {{ 2000.5 | number: "1.0-2" }}</li>
  <li>percent {{ 20.0 | percent }}</li>
  <li>customString {{ 'george' | customString: 'upper' }}</li>
</ul>
