<!--
  on - especifica uma condição de acionador usando um acionador da lista
  (idle, timer, viewport, interaction, hover, immediate, prefetch  )

  when - especifica uma condição imperativa como uma expressao que retorna um 
  booleano. quando esta expressão se torna verdadeira, o espaço reservado
  é trocado pelo conteudo carregado lentamente (o que pode ser uma operacao 
  assincrona se as dependencias precisarem ser buscadas)

  nota: varios on triggers são sempre condições OR. da mesma forma, on misturado
  com when também são condições OR

  after - especifica que o indicador de carregamento so deve ser exibido se
  o carregamento demorar mas de 150ms

  minimum - existe para evitar oscilações rapidas de conteudo do espaco resevado

-->

<p>Deferable views</p>

<button (click)="isTrue = true">add true</button>

@defer(when loadingData$ | async) {
  <app-new-component />
} @placeholder(minimum 5s) {
  <p>mostrar antes de carregar algo.</p>
} @loading(after 150ms; minimum 5s) {
  <p>Loading</p>
} @error {
  <p>loading failed</p>
}

<!--
  deferrable views, também conhecidos como @defer blocks, são uma nova funcionalidade 
  introduzida no angular 17 que permite adiar o carregamento de determinadas partes de 
  uma aplicação

  iso pode ser usado para melhorar o desempenho das aplicações, especialmente aquelas 
  com grandes quantidades de conteudo

  usos:
  
  - carregamento de imagens: você pode usar deferables vivews para adiar o carregamento 
  de imagens ate que elas sejam visiveis na tela

  - carregamento de dados: você pode usar deferables views para adiar o carregamento de
  dados ate que eles sejam necessarios 

  - carregamento de componentes pesados: você pode usar deferables views para adiar o 
  carregamento de componentes pesados ate que eles sejam necessarios. isso pode ajudar 
  a melhorar o desempenho de aplicações 

  considerações:

  - eficiencia: os deferable views podem melhorar o desempenho das aplicações, mas eles 
  também podem adicionar complexidade e aumentar o tempo de carregamento da primeira pagina

  - usabilidade: os deferables views podem afetar a usabilidade das aplicaçõe, pois o conteudo
  pode não estar disponivel imediatamente 

  Os deferrables views são uma nova funcionalidade poderosa que pode ser usada para melhorar 
  o desempenho das aplicações angular, no entanto, é importante considerar os fatores acima 
  antes de usá-los
-->