<mat-form-field class="example-form-field">
  <mat-label>Entrada</mat-label>
  <input matInput type="text" >
  <button >
  </button>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Categoria</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="foods.values">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Status</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="foods.values">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Choose Date</mat-label>
  <input matInput [matDatepicker]="picker" >
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker> </mat-datepicker>
</mat-form-field>

