<p>reactive forms</p>

<form [formGroup]="profileForm" (ngSubmit)="submit()">
  <label>
    Nome: 
    <input type="text" formControlName="name" />
    <p>{{ profileForm.value.name }}</p>
  </label>

  <hr />
  <h3>[formGroup]= profileForm</h3>
  <p>value: {{profileForm.value | json}}</p>
  <p>valid: {{profileForm.valid}}</p>
  <p>dirty: {{profileForm.dirty}}</p>
  <p>touched: {{profileForm.touched}}</p>

  <div formGroupName="myStacks">
    <label>
      Front:
      <input type="text" formControlName="front" />
      <p>value : {{ profileForm.value.myStacks?.front }}</p>
    </label>
  </div>  

  <div formGroupName="myStacks">
    <label>
      Back:
      <input type="text" formControlName="back" />
      <p>value : {{ profileForm.value.myStacks?.back }}</p>
    </label>
  </div>  


  <button type="button" (click)="update()">update name</button>

  <hr />
  <label>
    new Food
    <input #newFood type="text" />
  </label>

  <button type="button" (click)="addMyFavoriteFoods(newFood.value)">add</button>
  <hr />
  <div formArrayName="myFavoriteFoods">
    @for (food of profileForm.value.myFavoriteFoods; track i; let i = $index) {
      <label>
        {{ food }}
        <input type="text" [formControlName]="i" />
      </label>
      <hr />
    }
  </div>

  <button [disabled]="!profileForm.valid">submit</button>
</form>