<p *ngIf="condition; else elseBlock">True</p>

<ng-template #elseBlock>
  <p>
    False
  </p>
</ng-template>


<hr>

<p *ngIf="conditionClick">
  True
</p>

<p *ngIf="!conditionClick">
  False
</p>

<button (click)="onClick()">Clickar</button>

<hr>

<ul>
  <li *ngFor="let item of lista; let i = index;" (click)="onClickEventList(i)">
    [{{i}}] {{ item.nome }} - idade {{ item.idade }}
  </li>
</ul>

<button (click)="onClickAddList()">Clickar</button>

<hr>

<input type="text" [(ngModel)]="nome">

<div [ngSwitch]="nome">
  <p *ngSwitchCase="'angular'">
    Angular
  </p>

  <p *ngSwitchCase="'react'">
    React
  </p>

  <p *ngSwitchDefault>
    Vue
  </p>
</div>
