<!-- formulario de novo produto -->
<div *ngIf="productAction?.event?.action === addProductAction">
  <form [formGroup]="addProductForm" (ngSubmit)="handleSubmitAddProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- nome do produto-->
      <input pInputText placeholder="Nome" formControlName="name" />
      <!-- cateogias de produtos -->
      <p-dropdown
        styleClass="w-full"
        [options]="categoriesDatas"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        optionValue="id"
        placeholder="Selecione uma categoria"
        formControlName="category_id"
      ></p-dropdown>
      <!-- preco do produto-->
      <input pInputText placeholder="Preço" formControlName="price" />

      <!-- descricao do produto-->
      <input pInputText placeholder="Descrição" formControlName="description" />

      <!-- Quantidade do produto-->
      <input pInputText placeholder="Quantidade" formControlName="amount" />

      <div class="flex flex-row justify-content-center align-content-center align-items-center m-1">
        <p-button
          [disabled]="!addProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>

<!-- formulario de editar produto -->
<div *ngIf="productAction?.event?.action === editProductAction">
  <form [formGroup]="editProductForm" (ngSubmit)="handleSubmitEditProduct()">
    <div class="card flex flex-column md:flex-column gap-3">
      <input pInputText placeholder="Nome" formControlName="name" >
      <!-- cateogias de produtos -->
      <div *ngIf="renderDropdown">
          <p-dropdown
          styleClass="w-full"
          [options]="categoriesDatas"
          [(ngModel)]="selectedCategory"
          optionLabel="name"
          optionValue="id"
          formControlName="category_id"
        ></p-dropdown>
      </div>
      <input pInputText placeholder="Preco" formControlName="price" >
      <input pInputText placeholder="Descricao" formControlName="description" >
      <input pInputText type="number" placeholder="Quantidade" formControlName="amount" >
      <div class="flex flex-row justify-content-center align-content-center align-items-center">
        <p-button
          [disabled]="!editProductForm.valid"
          type="submit"
          label="Concluir"
        ></p-button>
      </div>
    </div>
  </form>
</div>
