<!--
  signals são uma nova funcionalidade introduzida no angular 17 que permite que 
  os componentes se comuniquem entre sim de forma assincrona. isso pode ser usado 
  para melhorar a performance e a escalabilidade das aplicações

  exemplos

  aqui esão alguns exemplos de como usar signals para melhorar o desempenho e a 
  escalabilidade das aplicaçãoes

  - comunicação entre componentes: você pode usar signals para permitir que compo-
  nentes se comuniquem entre si de forma assincrona, isso pode ajudar a melhorar o
  desempenho das aplicações, pois os componentes não precisam esperar que a resposta 
  seja recebida antes de continuar

  - notificações: você pode usar signals para enviar notificações para outros compo-
  nentes. isso pode ser util para notificar os componentes de eventos que ocorrem em 
  outros lugares da aplicação

  - atualizações de dados: você pode usar signals para atualizar dados em varios com-
  ponentes de forma assincrona isso pode ajudar a melhorar a escalabilidade das aplicações
  pois os componentes não precisam esperar que os dados sejam atualizados entes de renderizar

  considerações:

  ao usar signals,é importante considerar os seguintes fatores:

  - eficiencia: os signals podem melhorar o desempenho e a escalabilidade das aplicações,
  mas eles também podem adicionar complexidade

  - manutenção: os signals podem tornar as aplicações mas dificies de manter, é importante 
  documentar cuidadosamente como os signals são usados na aplicações

  os signals são uma nova funcionalidade poderosa que pode ser usada para melhorar o desem
  penho e a escalabilidade das aplicações angular

-->

<p>signals</p>

<p>{{ firstName() }} {{ lastName() }}</p>
<p>full name: {{ fullName() }}</p>

<ul>
  @for (item of array(); track item) {
    <li>{{ item }}</li>
  }
</ul>

<button (click)="updateName()">update name</button>
<button (click)="updateArray()">update array</button>