<!--
  um componente é uma unidade de codigo reponsavel por uma unica tarefa ou funcionalidade.
  ele é composto por três partes principais

  - template: é o codigo html que define a interface visual do omponente
  - estilo: é o codigo css que define o estilo visual do componente 
  - classe: é a classe javascript que define a logica de funcionamento do componente

  os componentes são usados para organizar e modularizar o codigo angular, eles permitem
  que você desenvolva aplicações mais complexas e escalaveis, mantenndo o codigo organizado 
  e facil de manter

  aqui estão alguns dos beneficios de usar componentes no angular

  - reutilização: os componentes podem ser reutilizados em diferentes partes da aplicação. isso
  pode ajudar a reduzir a duplicação de codigo e a melhorar a produtividade

  - testabilidade: os componentes podem ser testados de forma independente, o que ajuda a garantir 
  a qualidade dos codigo

  - organização: os componentes ajudam a organizar o codigo angular, tornando-o mas facil de 
  entender e manter

  alguns exemplos de componentes angular são:

  - componentes de formulario: são usados para criar formularios para coletar dados do usuario
  - componentes de listagem: são usados para exibir uma lista de itens
  - componentes de navegação: são usados para controlar a navegação entre diferentes paginas 
  da aplicação

  os componentes são uma ferramenta fundamental para o desenvolvimento de aplicações angular. eles
  permitem que você desenvolva aplicações mas complexas e escalaveis, mantendo o codigo organizado
  e facil de manter

-->

<h2>components</h2>