<p>consume-service works!</p>


<h3>Get List</h3>
@if (getListTask(); as data) {
  @for (item of data; track item) {
    <li>{{ item.id }} - {{ item.title }}</li>
  } @empty {
    <li>sem dados carregados</li>
  }
} @else {
  <li>Loading</li>
}

<h3>get item id</h3>
@if (getTaskId(); as data) {
  <p>get por id : {{ data.id }} - {{ data.title }}</p>
}

<h3>post create</h3>
<input type="text" #createTitle placeholder="add title" />
<button (click)="httpTaskCreate(createTitle.value)">create</button>