<p>consume-service works!</p>


<h3>Get List</h3>
@if (getTaskList(); as data) {
  @for (item of data; track item) {
    <li>{{ item.id }} - {{ item.title }} - <button (click)="httpTaskDelete(item.id)">delete</button></li>
  } @empty {
    <li>sem dados carregados</li>
  }
} @else {
  <li>Loading</li>
}

<h3>get item id</h3>
@if (getTaskId(); as data) {
  <p>get por id : {{ data.id }} - {{ data.title }}</p>
} @else {
  {{ getTaskIdError() }}
}

<h3>post create</h3>
<input type="text" #createTitle placeholder="add title" />
<button (click)="httpTaskCreate(createTitle.value)">create</button>

<h3>Patch update</h3>
<input type="text" #updateId placeholder="add id" />
<input type="text" #updateTitle placeholder="add title" />
<button (click)="httpTaskUpdate(updateId.value, updateTitle.value)">update</button>
