<p>tamplate-binding works!</p>

<p>{{ name }} - {{ age }} - {{ sum() }}</p>
<p>{{ condition }}</p>

<hr />
<p>property binding</p>
<button [disabled]="isDisabled" >button</button>

<hr />
<p>attibute binding</p>
<p [attr.title]="name" [attr.aria-label]="name">Atributo</p>

<h2>Class and Style binding</h2>
<p [class.background-red]="age >= 32">
  {{name}}
</p>

<h2>Event binging</h2>

<button (click)="sum()">+</button>
<button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)" />

<div
  style="background: red; width: 300px; height: 300px; margin-top: 10px;"
  (mousemove)="onMouseMove($event)"
></div>

<h2>two-way binding</h2>
<input [(ngModel)]="name" />
{{ name }}

<hr />
<h3>Diretivas de atributos</h3>
<div [ngClass]="{ 'background-red': true }">classes condicionais</div>

<div [ngStyle]="{ color: age > 35 ? 'green' : 'red'  }">estilos dinamicos</div>