<!--
  um template é um arquivo html que define a intefarce visual de um componente.
  ele é composto por uma combinação de elementos html, diretivas e expressoes

  os templates são usados para definir a aparencia visual dos components angular
  eles permitem que você crie interfaces visuais complexas e interativas de forma
  rapida e facil

  aqui estão alguns dos beneficios de usar templates no angular

  - reutilização: os templates podem ser reutilizados em diferentes componentes.
  isso ajuda a reduzir a duplicação de codigo e a melhorar a produtividade

  - testabilidade: os templates podem ser testados de forma independente, o que 
  ajuda a garantir a qualidade do codigo

  - organização: os templates ajudam a organizar o codigo angular, tornando-o 
  mas facil de entender e mater.

-->

<p>tamplate-binding works!</p>

<p>{{ name }} - {{ age }} - {{ sum() }}</p>
<p>{{ condition }}</p>

<hr />
<p>property binding</p>
<button [disabled]="isDisabled" >button</button>

<hr />
<p>attibute binding</p>
<p [attr.title]="name" [attr.aria-label]="name">Atributo</p>

<h2>Class and Style binding</h2>
<p [class.background-red]="age >= 32">
  {{name}}
</p>

<h2>Event binging</h2>

<button (click)="sum()">+</button>
<button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)" />

<div
  style="background: red; width: 300px; height: 300px; margin-top: 10px;"
  (mousemove)="onMouseMove($event)"
></div>

<h2>two-way binding</h2>
<input [(ngModel)]="name" />
{{ name }}

<hr />
<h3>Diretivas de atributos</h3>
<div [ngClass]="{ 'background-red': age > 35, 'background-blue': age < 35 }">classes condicionais</div>

<div [ngStyle]="{ color: age > 35 ? 'green' : 'red'  }">estilos dinamicos</div>